.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    z-index: 1;   
    /* background-color: #0099cc; */
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    font-size: 20px;